# General
.vscode/
build/
*.o
*.bin
*.elf
*.exe
*.ld
*.map
*.project
*.lst
bmptk_fixed_size_stack.c

# Week 2
generator
week2_*/my_melody.cpp

# Week 4
week4_*/compressed_data.asm

# Week 5
week5/test
